<h1><a href=<%= "web/users/#{current_user.id}"%>>User: <%= @user.name%></a></h1>
<div>
    <%= link_to "Logoff", '/web/sign_out', method: :delete%>
</div>
<br><br>
<a href="/web/groups">Criar Grupo</a>

<div>
    <%@user.groups.each do |group| %>
        <div>
            <h1><a href=<%= "/web/groups/#{group.id}"%>>Grupo: <%= group.name%></a></h1>
            Assunto: <%= group.category%><br>
            Ultima Mensagem: <%= group.messages.last != nil ? group.messages.last.content : ''%>
        </div>
    <%end%>
</div>